body {
    background-color: rgb(135, 194, 69);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#conteudo {
    background-color: floralwhite;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    margin: 0 auto;
    box-shadow: 2px 1px 10px rgb(5, 5, 5);
    padding: 30px;
}

#resultado {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

footer {
    padding: 20px;
}

img {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 50%;
}